div.header {
    background-color: black;
    padding: 15px 0;
    ul {
        display: flex;
        justify-content: center; /* căn giữa theo chiều ngang */
        align-items: center;     /* căn giữa theo chiều dọc */
        list-style: none;
        margin: 0;
        padding: 0;

        li {
            margin: 0 20px;

            a {
                color: #fff;
                text-decoration: none;
                font-size: 16px;

                &:hover {
                    opacity: 0.7;
                }
            }
        }
    }
}
